*{
       	margin:0;
}

html {
    position: relative;
    min-height: 100%;
   background-color: #D9EAEF;
}

body {
//    margin: 0 0 130px;
}

p {
padding-top:10px;
}

a {
   	text-decoration: none;
}

img{
    	border-style: none;
}

.mayusculas{
	text-transform: uppercase;
}
.centrado{
	width: 950px;
        margin: 0px auto;

}


.centrado-footer{
        width: 985px;
        margin: 0px auto;

}


.derecha{
	float:right;
}

.naranja{
color: #ed6300;
}

#contenidos{
	width: 950px;
        margin: 0px auto;
        min-height:800px;
}

#contenidos .izquierda{
        float:left;
        width:625px;
        padding-bottom:155px;
}


#contenidos .derecha{
//        float:left;
        width:325px;
        margin-top:20px;
}
#contenidos .img_derecha{
        float:left;
        width:325px;
        margin-top:20px;
}

#contenidos .titulo{
        font-family: "eurostile-bold";
        color:#474747;
        font-size:25px;
        height: 60px;
	margin: 0px 0 50px 30px;
}

#contenidos .titulo-descargas{
        font-family: "eurostile-bold";
        font-size:24px;
        height: 10px;
        margin-top: 30px;
        margin-left: 200px;
}

#contenidos .titulo-galerias{
        font-family: "eurostile-bold";
        color:#ed6300;
        font-size:30px;
        height: 10px;
        margin-top: 30px;
        margin-bottom: 25px;
        margin-left: 0px;
}
#contenidos .texto{
        margin-left: 90px;
        margin-right: 110px;
        margin-bottom: 30px;
        font-family: Trebuchet, Tahoma;
        color: #606e6e;
        font-size: 14px;
	min-height: 185px;
}

#contenidos .menu{
        margin-left: 50px;
        font-family: Trebuchet, Tahoma;
        color: #606e6e;
        font-size: 12px;
}




.clear {
    clear: both;
}











