<!DOCTYPE html >
<!--[if lt IE 7]>      <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
    <head>
        <title>[[*pagetitle]] - [[++site_name]]</title>
        <meta http-equiv="Content-Type" content="text/html; charset=[[++modx_charset]]" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="robots" content="all" />
        <base href="[[++site_url]]" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.png" type="image/png" />

        <link href="assets/templates/anpasa/css/template-20.css" rel='stylesheet' type='text/css'>

        <script src="Code/templates/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        [[!If? &subject=`[[*prettyGalleryAlbum]]` &operator=`!empty` &then=`[[$prettyGalleryCss]]`]]
        <div>
            <header>
                [[$cabecera_proyectos]]
            </header>
        </div>
        <div id="submenu">
            <div class="block" >
                <div class="menu-centrado">
                    [[!Wayfinder?
                        &startId=`[[*mparent]]`
                        &level=`1`
                        &outerTpl=`outerTpl`
                        &rowTpl=`submenu`
                        &lastClass=`submenu`
                        &firstClass=`submenu`
                        &hereClass=`active`
                        &ignoreHidden=`1`
                    ]]
                </div>
            </div>
        </div>
        <div id="galeria" class="clearfix">
            [[!If? &subject=`[[*prettyGalleryAlbum]]` &operator=`!empty` &then=`[[$prettyGallery]]`]]
            [[!If? &subject=`[[*prettyGalleryAlbum]]` &operator=`!empty` &then=`[[$prettyGalleryScripts]]`]]
        </div>
        <div class="footer-final clearfix">
            <footer>
                [[$footer-gris]]
            </footer>
        </div>
              <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script type="text/javascript">
          jQuery.fn.exists = function(){return this.length>0;}

          $( document ).ready( function ( ) {
              if ( $( '#submenu ul' ).exists() ) {
                  var totalWidth = 0;
                  $( '#submenu ul li' ).map( function ( ) {
                      totalWidth += $( this ).width() + 1;
                  } );
                  $( '#submenu ul' ).addClass( 'clearfix' ).width( totalWidth );
              }

              if ( $( '.galerias' ).exists() ) {
                  var totalWidth = 0;
                  var control    = 0;
                  $( '.galerias .galeria' ).map( function ( ) {
                      totalWidth += $( this ).width() + 1;
                      control++;
                  } );
                  totalWidth  += ( 30 * ( control - 1 ) );
                  $( '.galerias' ).addClass( 'clearfix' ).width( totalWidth );
              }
          } );
      </script>    </body>
</html>