#cabecera{
	height: 120px;
	width: 1050px;
	margin: 0px auto 0px auto;
}



#cabecera .botonera{
	width: 1100px;
	height: 100px;
	float:left;
}


#cabecera .centro {
	float:left;
	padding: 50px 15px 0px 15px;
}


#cabecera .logo{
	margin-left: 22px;
}


#cabecera .izquierda { 
float:left; 
margin: 0px 0px 0px 0px; 
}


#cabecera .derecha { 
float:left;
 margin: 0px 0px 0px 0px; 
}

#cabecera .buscador{
	padding: 40px 0px 0px 0px;
}
#cabecera .contacto-gris{
	font-family:Trebuchet, Tahoma;
	color:#606e6e;
	font-size: 10px;
	padding: 0px 0px 0px 00px;
	text-align: right;
}

#cabecera .contacto-naranja{
	font-family: Trebuchet, Tahoma;
color: #ed6300;
font-size: 10px;
padding: 0px 0px 0px 00px;
text-align: right;
}

#cabecera a.contacto-naranja{
	font-family:Trebuchet, Tahoma;
	color:#ed6300;
	font-size: 10px;
	padding: 0px 0px 0px 00px;
	text-align: right;
}





#buscador input[type=search] { 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;

	color: #c7c7c7;  
	text-align: left;
	cursor: pointer;
/*	display: block;  */
	width: 100%; 
	letter-spacing: 0px;        
	text-shadow: 0 0 1px #c7c7c7;        
	word-spacing: 10px;   
        border: none;  
        background-color:#fff;   
height:20px;       

font-size: 10px;

}





#buscador input[type=search] {



	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 5px;
/*	-moz-box-shadow: 2px 2px 3px #666;*/
/*	-webkit-box-shadow: 2px 2px 3px #666;*/
/*	box-shadow: 2px 2px 3px #666;*/
	font-size: 10px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}
input.rounded:focus {
	border-color: #339933;

background-image: url('http://www.kirupa.com/images/search.png');
background-position: 270px -10px;
background-repeat: no-repeat;}


