/*descargas*/
#descargas { 
    margin-top: 10px;
    .descargas{ margin: 0px auto; width: 450px; margin-top: 20px; }
    .instrucciones { font-family: $eurostile_bold; margin-left: 50px; color:#474747; }
}