$eurostile_bold: "eurostile-bold",Helvetica,Arial,'sans-serif';
$eurostile_bold_oblique: "eurostile-bold-oblique",Helvetica,Arial,'sans-serif';
$trebuchet: "trebuchet", Tahoma, Helvetica, Arial, "sans-serif";