<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>ANPASA</title>
    <link rev="made" href="mailto:webmaster@anpasa.com" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="ROBOTS" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" > 

<meta http-equiv="Content-Type" content="text/html; charset=[[++modx_charset]]" />
<base href="[[++site_url]]/" />
<title>[[++site_name]]</title>
<link href="assets/templates/anpasa/css/fuentes.css" rel='stylesheet' type='text/css'>

<link href="assets/templates/anpasa/css/cabecera.css" rel='stylesheet' type='text/css'>

<link href="assets/templates/anpasa/css/menu.css" rel='stylesheet' type='text/css'>
<link href="assets/templates/anpasa/css/ajaxsearch.css" rel='stylesheet' type='text/css'>
<link href="assets/templates/anpasa/css/contenidos.css" rel='stylesheet' type='text/css'>
<link href="assets/templates/anpasa/css/descargas.css" rel='stylesheet' type='text/css'>

<link href="assets/templates/anpasa/css/catalogo.css" rel='stylesheet' type='text/css'>
<link href="assets/templates/anpasa/css/footer.css" rel='stylesheet' type='text/css'>

</head>

<body>

<div id="contenedor">

	<header>
	[[$cabecera]]
	</header>


	<div id="submenu">
		<div class="block" >
			<div class="menu-centrado">
			[[!Wayfinder?  &startId=`[[*alias]]` &level=`1` &outerTpl=`outerTpl` &rowTpl=`submenu` &lastClass=`submenu` 	&firstClass=`submenu`]]
			</div>
		</div>
	</div>

	<div id="contenido">	
		<div class="centro">
			[[*content]]
		</div>
	</div>



</div>


</body>
</html>