<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>ANPASA</title>
    <link rev="made" href="mailto:webmaster@anpasa.com" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="ROBOTS" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" > 

<meta http-equiv="Content-Type" content="text/html; charset=[[++modx_charset]]" />
<base href="[[++site_url]]/" />
<title>[[++site_name]]</title>

<link href="assets/templates/anpasa/css/fuentes.css" rel='stylesheet' type='text/css'>
<link href="assets/templates/anpasa/css/cabecera.css" rel='stylesheet' type='text/css'>
<link href="assets/templates/anpasa/css/menu.css" rel='stylesheet' type='text/css'>
<link href="assets/templates/anpasa/css/contenidos.css" rel='stylesheet' type='text/css'>
<link href="assets/templates/anpasa/css/descargas.css" rel='stylesheet' type='text/css'>
<link href="assets/templates/anpasa/css/footer.css" rel='stylesheet' type='text/css'>
<link href="assets/templates/anpasa/css/descargas.css" rel='stylesheet' type='text/css'>
<link href="assets/templates/anpasa/css/ajaxsearch.css" rel='stylesheet' type='text/css'>


<!--
[[!If? &subject=`[[*prettyGalleryAlbum]]` &operator=`!empty` &then=`[[$prettyGalleryCss]]`]]
<link href='http://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>		
-->

</head>

<body>
<div id="contenedor">
<header>
[[$cabecera]]
</header>

[[*content]]

</div>

<div class=footer-final>		
<footer>
[[$footer-gris]]
</footer>
</div>
</div>

</body>
</html>