<head>
<!-- colorbox -->
  <link type="text/css" media="screen" rel="stylesheet" href="[[++site_url]]assets/templates/anpasa/colorbox/colorbox.css" />
  <script src="[[++site_url]]assets/js/jquery-1.9.1.js"></script>
  <script src="[[++site_url]]assets/templates/anpasa/colorbox/jquery.colorbox.js"></script>

<script type="text/javascript" src="[[++site_url]]assets/js/slimbox/js/slimbox2.js"></script>


  <script> 
      $(document).ready(function(){
        //Examples of how to assign the ColorBox event to elements
        $("a[rel='galerie']").colorbox();
        });
    </script>
<!-- end colorbox -->   
    
</head>

<body>

        [[*content]]

</body>
</html>