<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>ANPASA</title>
    <link rev="made" href="mailto:webmaster@anpasa.com" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="ROBOTS" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" > 

<meta http-equiv="Content-Type" content="text/html; charset=[[++modx_charset]]" />
<base href="[[++site_url]]/" />
<title>[[++site_name]]</title>

<link rel='stylesheet' href="assets/templates/anpasa/css/cabecera.css">

<link rel='stylesheet' href="assets/templates/anpasa/css/contenidos.css">

<link rel='stylesheet' href="assets/templates/anpasa/css/fuentes.css">
<link rel="stylesheet" href="assets/templates/anpasa/css/estilo.css">
<link rel="stylesheet" href="assets/templates/anpasa/css/slider.css">
<link rel="stylesheet" href="assets/templates/anpasa/css/menu.css">
<link rel="stylesheet" href="assets/templates/anpasa/css/footer.css" />


<script type="text/javascript" src="assets/templates/anpasa/js/jquery-1.8.1.min.js"> </script>
<script type="text/javascript" src="assets/templates/anpasa/js/jquery.colorbox-min.js"></script>



</head>
<body>
<div id="contenedor">
<header>
[[$cabecera]]
</header>



[[*content]]


</div>
<div class=footer-final>		
<footer>
[[$footer-gris]]
</footer>





</div>
</body>
</html>